/*::selection{ background-color: #36f; color: white; }*/
/*::moz-selection{ background-color: #36f; color: white; }*/
/*::webkit-selection{ background-color: #36f; color: white; }*/

body {
		background-image: 
		url(/data/image/nav_bg.jpg);
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: white; 
	    font-family: Microsoft JhengHei,Arial;
}

div.container {
	height: 100%;
	padding: 0px;
}

a {
	color: white;
	font-weight: normal;
}
a:hover {
	color: white;
	text-decoration: underline;
}
a.in_btn:hover {
	text-decoration: none;
}

hr {
	border-color: #888;
	margin:5px 0;
}

