/* basket page */

.basket_panel,
.post_data_panel,
.finish_order_panel{
	background-color: rgba(50,50,50,0.5);
	min-height: 50%;
	border-radius: 5px;
	padding: 5px 5% 10%;
}

.basket_panel>table{
	width: 100%;
	padding: 10px;
	font-size: 18px;
}

.basket_panel>table>tbody>tr.table_title{
	border-bottom: 1px solid #ddd;
}

.basket_panel>table>tbody>tr.table_contain:hover{
	background-color: #ffffbb;
	color: #666;
	cursor: default;
}

.basket_panel>table>tbody>tr>td.img{
	width: 100px;
	padding:5px;
}
.basket_panel>table>tbody>tr>td>img{
	width: 80px;
}
.basket_panel>table>tbody>tr>td.price,
.basket_panel>table>tbody>tr>td.amount,
.basket_panel>table>tbody>tr>td.sub_total{
	width: 100px;
}
.basket_panel>table>tbody>tr>td.cancel_item{
	width: 90px;
	text-align: center;
}
.basket_panel>button.pay{
	font-size: 16px;
	margin-top:10px;
	padding: 5px 15px;
}

@media screen and (min-width: 0px) and (max-width: 766px){
	.basket_panel{
		position: absolute;
		width: 100%;
		max-height: 500px;
		min-height: calc(100% - 36px);
		border-radius: 0px;
	}
	.basket_panel>h2{
		margin-top: 0;
	}
	.basket_panel>.xs_panel>div{
		text-align: center;
	}
	.basket_panel>.xs_panel>div>img{
		width: 60%;
		max-width: 300px;
	}

	.basket_panel>.xs_panel>label{
		position: fixed;
		font-size: 40px;
		padding: 30px 3px;
		top:35%;
		cursor: pointer;
		display: none;
	}
	.basket_panel>.xs_panel>label.next{
		right:0px;
	}
	.basket_panel>.xs_panel>label.prev{
		left: 0px;
	}
}	


/* post_data_page */
@media screen and (min-width: 0px) and (max-width: 766px){
	.post_data_panel{
		position: absolute;
		width: 100%;
		border-radius:0px;
		padding: 5px 5% 5%;
	}
}

div>.post_data_panel>form{
	max-width: 450px;
	margin-top: 20px;
}

div>.post_data_panel>form>h4>.post_code{
	max-width:85px;
	margin-bottom: 5px;
}

div>.post_data_panel>form>h4>.address{
	max-width:450px;
	resize: none;
}

div>.post_data_panel>form>label{
	font-weight: normal;
	font-size: 16px;
	margin-left: 20px;
}

/* ----完成訂單page---- */

.finish_order_panel>div>div{
	font-size: 16px;
	padding: 20px;
}
.finish_order_panel>div>div>h3{
	color:gold;
	margin: 0px 0px 3px;
	border-bottom: 1px solid gold;
	padding-bottom: 5px;
}

.finish_order_panel>div>div>table{
	width: 100%;
}

.finish_order_panel>div>div>table>tbody>tr>td{
	border: 1px solid #ccc;
	padding: 5px 10px;
	
}

.finish_order_panel>div>div>table>tbody>tr>td.title{
	width: 100px;
}
.finish_order_panel>div>a{
	font-size: 22px;

}

