/*登入頁*/
.login_panel {
	/*background-color: #ddd;*/
	background: rgba(50, 50, 50, 0.5);
	position: relative;
	left: 50%;
	top: 50%;
	width: 250px;
	display: inline-block;
	border:1px solid gray;
	border-radius: 5px;
	padding: 20px;
	margin: 8% 0;
	margin-left: -125px;
	box-shadow: 5px 5px 3px #555;
	/*margin-top:300px;*/
}

div.login_panel>form>input{
	margin:10px 0;
}
div.login_panel>form>input.n{
	display: none;
	height: 0;
    border: 0;
    width: 0;
}
div.login_panel>form>button.login_btn {
	width: 100%;
	font-size: 18px;
	display: none;
}
div.login_panel>form>input.btn{
	width: 100%;
	font-size: 18px;
}


/*註冊頁*/
div.register_panel {
	background: rgba(50, 50, 50, 0.5);
	border:1px solid gray;
	border-radius: 5px;
	padding: 20px;
	margin: 30px 0;
	box-shadow: 5px 5px 3px #555;
}

table.fill_in_table {
	color:white;
	width: 100%;
	max-width: 450px;
}

table.fill_in_table>tbody>tr>td{
	padding: 10px;
}

label.title{
	font-weight: normal;
	font-size: 20px;
}

div.register_panel>input{
	margin:10px 0;
}

div.register_panel>.rule_label,
div.register_panel>a{
	font-size: 16px;
	margin: 10px;
}

/*註冊成功頁*/
div.message_panel{
	background: rgba(50, 50, 50, 0.5);
	border:1px solid gray;
	border-radius: 5px;
	padding: 20px;
	margin: 50px 5%;
	box-shadow: 5px 5px 3px #555;
	text-align: center;
}

img.ok_img {
	height:100px;
}

div.message_panel>h4>a{
	color:#4da6ff;
}

/* user_info頁面 */

div.menu_panel{
	height: 30px;
	margin: 0 0 0 15px;
}

div.menu_panel>span{
	display: inline-block;
	width:100px;
	height: 0;
	margin-left: -3px;
    border-color: transparent transparent #4e4a4a transparent ;
    border-style: solid;
    border-width: 0 15px 30px 15px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

div.menu_panel>span.tag_action{
    border-color: transparent transparent white transparent;
}

div.menu_panel>span>label{
	position: relative;
    display: inline-block;
    top: -2px;
    left: -1px;
    padding: 4px 2px 0px;
    min-width: 72px;
    border-radius: 6px 6px 0 0;
    border-top-style: solid;
    cursor: pointer;
}

div.menu_panel>span>label.tag_label{
	font-weight: normal;
    border-top-color: #4e4a4a;
    color: white;
}

div.menu_panel>span.tag_action>label{
    border-top-color: white;
	color:#4e4a4a;
}

div.partial_view{
	background-color: white;
	height:100%;
	min-height: 400px;
	color: #4e4a4a;
	margin-bottom: 30px;
	border-radius:3px;
	padding: 20px;
	box-shadow: 8px 8px 3px #444;
	overflow-x: hidden;
}

/* 會員資料 */
div.user_info>div.alert{
	display: none;
}
div.user_info>div.alert>label:hover{
	cursor: pointer;
	text-decoration: underline;
}

div.user_info>div.info_panel>div>i{
	margin-top:-3px;
	border: 1px solid transparent;
	border-radius:3px;
	padding:3px 2px 2px 3px;
	cursor: pointer;
}
div.user_info>div.info_panel>div>i:hover{
	border-color:#ddd;
}


/* 編輯會員 partial */
div.edit_user_info>div>form{
	max-width: 450px;
}

div.edit_user_info>div>form>label{
	font-size: 14px;
}

div.edit_user_info>div>form>.form-control{
	margin-bottom: 10px;
	resize: none;
}

div.edit_user_info>div>form>input.post_code{
	width:90px;
}
div.edit_user_info>div>form>.hint{
	color: #a70000;
}

/* 查詢訂單 */

.filter_switch{
	position: absolute;
	top: 55px;
	right: 30px;
	padding: 3px;
	cursor: pointer;
}

@media screen and (min-width: 767px) {
	div.user_order_list>.filter{
		display: block;
	}
	div.user_order_list>.filter>span{
		display: inline-flex;
	}
	div.user_order_list>.filter>span>label{
		margin: 6px 5px 0 0;
		font-weight: normal;
	}
	div.user_order_list>.filter>span>input{
		width: 160px;
	}
}

@media screen and (min-width: 0px) and (max-width: 766px) {
	div.user_order_list>.filter{
		background-color: white;
		position: fixed;
		width: calc( 100% - 40px );
		display: none;
		border: 1px solid gray;
		padding: 5px;
		z-index: 100;
	}
	div.user_order_list>.filter>span{
		margin: 10px 0; 
	}
}

div.user_order_list>table.list_table{
	width: 100%;
	font-size: 15px;
	margin: 10px 0;
}
div.user_order_list>table.list_table>tbody>tr>th{
	padding:5px;
	cursor: default;
}
div.user_order_list>table.list_table>tbody>tr.content{
	cursor: pointer;
}
div.user_order_list>table.list_table>tbody>tr.content:hover{
	background-color: #ffb;
}
div.user_order_list>table.list_table>tbody>tr>td.order_id{
	width: 180px;
	padding: 6px;
}

div.user_order_list>div.list_table_xs>div{
	border-bottom: 1px solid gray;
	width: 100%;
	min-width: 300px;
	height: 75px;
	margin-bottom:2px;
	padding: 3px;
	overflow: hidden;
}
div.user_order_list>div.list_table_xs>div>label{
	width: 75px;
	height: 55px;
	float: left;
	font-size: 16px;
	padding: 15px 6px;
}
div.user_order_list>div.list_table_xs>div>span>label{
	margin: 1px 0;
}

div.user_order_detail{
	position: fixed;
	background-color: rgba(50,50,50,0.5);
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1001;
	text-align: center;
}
div.user_order_detail>div{
	display: inline-block;
	background-color: white;
	max-width: 1000px;
	text-align:left;
	overflow: auto;
}

@media screen and (min-width: 767px) {
	div.user_order_detail>div{
		width: 95%;
		min-height: 90%;
		border: 1px solid #444;
		border-radius: 5px;
		margin: 2.5%;
		padding: 10px;
	}
}

@media screen and (min-width: 0px) and (max-width: 766px) {
	div.user_order_detail>div{
		width: 100%;
		height: 100%;
	}
}

div.user_order_detail>div>div.detail_head{
	border-bottom: 1px solid gray;
	padding: 10px;
}

div.user_order_detail>div>div>h3{
	text-align:center;
	margin:0; 
}
div.user_order_detail>div>div>span{
	position: relative;
	top: -5px;
	padding: 5px;
	cursor: pointer;
}

div.user_order_detail>div>div.detail_info{
	clear: both;
	border-bottom: 1px solid gray;
}

div.user_order_detail>div>div.detail_info>div>label{
	color: red;
	margin: 5px;
	font-weight: 900;
	padding: 3px;
}

div.user_order_detail>div>div.detail_info>div>label>label{
	margin: 0;
	color: gray;
	font-weight: normal;
}

/*==========  detail_content  ==============*/
div.user_order_detail>div>div.detail_content>table{
	width: 100%;
	padding: 10px;
	font-size: 18px;
}

div.user_order_detail>div>div.detail_content>table>tbody>tr.table_title{
	border-bottom: 1px solid gray;
}
div.user_order_detail>div>div.detail_content>table>tbody>tr>th,
div.user_order_detail>div>div.detail_content>table>tbody>tr>td{
	padding:5px;
}

div.user_order_detail>div>div.detail_content>table>tbody>tr.table_item:hover{
	background-color:#ffb;
	cursor: default;
}

div.user_order_detail>div>div.detail_content>table>tbody>tr>td.item_no{
	text-align: center;
}

@media screen and (min-width: 0px) and (max-width: 766px){
	div.user_order_detail>div>div.detail_content>table>tbody>tr>td.item_no{
		height: 50px;
	}
}	