/*登入頁*/
.login_panel {
	/*background-color: #ddd;*/
	background: rgba(50, 50, 50, 0.5);
	position: relative;
	left: 50%;
	top: 50%;
	width: 250px;
	display: inline-block;
	border:1px solid gray;
	border-radius: 5px;
	padding: 20px;
	margin: 8% 0;
	margin-left: -150px;
	box-shadow: 5px 5px 3px #555;
	/*margin-top:300px;*/
}

div.login_panel>form>input{
	margin:10px 0;
}
div.login_panel>form>input.n{
	display: none;
	height: 0;
    border: 0;
    width: 0;
}
div.login_panel>form>button.login_btn {
	width: 100%;
	font-size: 18px;
	display: none;
}
div.login_panel>form>input.btn{
	width: 100%;
	font-size: 18px;
}

div.login_panel>form>label.login_hint {
	font-size: 14px;
	color: red;
}


/*註冊頁*/
div.register_panel {
	background: rgba(50, 50, 50, 0.5);
	border:1px solid gray;
	border-radius: 5px;
	padding: 20px;
	margin: 30px 0;
	box-shadow: 5px 5px 3px #555;
}

table.fill_in_table {
	color:white;
	width: 100%;
	max-width: 450px;
}

table.fill_in_table>tbody>tr>td{
	padding: 10px;
}

label.title{
	font-weight: normal;
	font-size: 20px;
}

label.hint{
	font-size: 14px;
	color:#a70000;
	display:none;
}

div.register_panel>input{
	margin:10px 0;
}

/*註冊成功頁*/
div.message_panel{
	background: rgba(50, 50, 50, 0.5);
	border:1px solid gray;
	border-radius: 5px;
	padding: 20px;
	margin: 50px 5%;
	box-shadow: 5px 5px 3px #555;
	text-align: center;
}

img.ok_img {
	height:100px;
}

div.message_panel>h4>a{
	color:#4da6ff;
}

/* user_info頁面 */

div.menu_panel{
	height: 30px;
	margin: 15px 0 0 15px;
}

div.menu_panel>span{
	display: inline-block;
	width:100px;
	height: 0;
	margin-left: -3px;
    border-color: transparent transparent #4e4a4a transparent ;
    border-style: solid;
    border-width: 0 15px 30px 15px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

div.menu_panel>span.tag_action{
    border-color: transparent transparent white transparent;
}

div.menu_panel>span>label{
	position: relative;
    display: inline-block;
    top: -2px;
    left: -1px;
    padding: 4px 2px 0px;
    min-width: 72px;
    border-radius: 6px 6px 0 0;
    border-top-style: solid;
    cursor: pointer;
}

div.menu_panel>span>label.tag_label{
	font-weight: normal;
    border-top-color: #4e4a4a;
    color: white;
}

div.menu_panel>span.tag_action>label{
    border-top-color: white;
	color:#4e4a4a;
}

div.partial_view{
	background-color: white;
	height:100%;
	min-height: 400px;
	color: #4e4a4a;
	margin-bottom: 30px;
	border-radius:3px;
	padding: 20px;
	box-shadow: 8px 8px 3px #444;
}

/* 會員資料 */
div.user_info>div.alert>label:hover{
	cursor: pointer;
	text-decoration: underline;
}

div.user_info>div.info_panel>div>i{
	margin-top:-3px;
	border: 1px solid transparent;
	border-radius:3px;
	padding:3px 2px 2px 3px;
	cursor: pointer;
}
div.user_info>div.info_panel>div>i:hover{
	border-color:#ddd;
}


/* 編輯會員 partial */
div.edit_user_info>div>form{
	max-width: 450px;
}

div.edit_user_info>div>form>label{
	font-size: 14px;
}

div.edit_user_info>div>form>.form-control{
	margin-bottom: 10px;
	resize: none;
}